@font-face {
    font-family: 'AlibabaPuhuitiHeavy';
    src: url('font.eot');
    src: url('font.eot?#iefix') format('embedded-opentype'),
         url('font.woff') format('woff'),
         url('font.woff2') format('woff2'),
         url('font.otf') format('opentype'),
         url('font.ttf') format('truetype'),
         url('font.svg#CustomFont') format('svg');
}

